<div>
	<form action="/" method="post">
		<table>
			<tr>
				<th>Introduzca la Temperatura en grados Celsius, Farenheit o Kelvin: </th>
				<td><input type="text" name="ini_temp" placeholder="273.15K" autofocus /></td>
			</tr>
		</table>
	</form>
</div>
